{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Projects</h2>

<div class="container projects">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col" style="width: 60px">Project Number</th>
                <th scope="col">Name</th>
            </tr>
        </thead>
        <tbody>
            {% for p in projects %}
            <tr>
                <td><a href="dashboard/{{ p.project_no }}">{{ p.project_no }}</a></td>
                <td><a href="dashboard/{{ p.project_no }}">{{ p.project_name.title() }}</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>
{% endblock %}