body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.main_content {
    background: #fff;
    margin: 0px;
    /* padding: 0px 0px 50px; */
}

footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

a:link{
    color: #222;
}

a:visited{
    color: #222;
}

a:hover{
    text-decoration: none;
    color: #666;
}

}

.table a:hover {
    color: #666;

}

.projects .table{
    font-size: 14px;
}

.projects .table a:hover {
    font-style: normal
}

/* forecast template formatting */
.forecast .first_row{
    font-size: 14px;
}

.forecast .second_row{
    font-size: 10px;
    font-style: italic;
    color: #666;
}

.forecast .progress{
    margin-left: 15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
    height: 12px;
    font-size: 10px;
    text-align: right;
}

.forecast .row .values {
    text-align: right;
}

/* cost detail template formatting */
.costdetail .first_row{
}

.costdetail .second_row{
    font-size: 16px;
}

.costdetail .supplier{
    font-size: 18px;
    font-weight: bold;
}

.costdetail .date {
    font-size: 16px;
    color: #666;
}

.costdetail .user{
    font-size: 12px;
    font-style: italic;
    color: #666;
    text-align: right;
}