body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.main_content {
    background: #fff;
    margin: 0px;
    /* padding: 0px 0px 50px; */
}

.project-list {
    padding: 0px 0;
    font-size: 12px;
}


footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

footer a {
    color: #2495f2;
}