{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Create Project</h2>

<div class="container-fluid create_project">
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <label for="form.project_reference">Project Reference</label>
            {{ form.project_reference(class="form-control", placeholder="Enter project reference") }}

        </div>
        <div class="form-group">
            <label for="form.project_name">Project Name</label>
            {{ form.project_name(class="form-control", placeholder="Enter project name")}}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <button type="reset" class="btn btn-default pull-right">Cancel</button>
    </form>

</div>

{% endblock %}