{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Create Project</h2>

<div class="container-fluid create_project">
    <form action="" method="POST">
        <div class="form-group">
            <label for="form.project_reference">Project Reference</label>
            <input type="text" class="form-control" name="project_reference" id="project_reference"
                aria-describedby="Project Reference" placeholder="Enter project reference">
        </div>
        <div class="form-group">
            <label for="form.project_name">Project Name</label>
            <input type="text" class="form-control" name="project_name" id="project_name"
                aria-describedby="Project Name" placeholder="Enter project Name">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

{% endblock %}