{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Create Project</h2>

<div class="container-fluid create_project">
    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            {{ form.project_code.label }}
            {{ form.project_code(class="form-control", placeholder="Enter project reference") }}
        </div>
        <div class="form-group">
            {{ form.project_name.label }}
            {{ form.project_name(class="form-control", placeholder="Enter project name")}}
        </div>
        <button type="submit" class="btn btn-success">Submit</button>
        <a class="btn btn-danger pull-right" href="/projects" role="button">Cancel</a>
    </form>

</div>

{% endblock %}