{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Forecast</h2>

{% for f in forecast_detail %}

<div class="container">
    <div class="row">
        <div class="col-lg-2 col-sm-2 col-xs-12">
            {{ f.cost_code }}
        </div>
        <div class="col-lg-4 col-sm-10 col-xs-12">
            {{ f.cost_code_description }}
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            {{ f.cost_allowance }}
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            {{ f.cost_forecast }}
        </div>
        <div class="col-lg-2 col-sm-2 col-xs-12">
            {{ f.cost_remaining }}
        </div>
    </div>
</div>
</div>
{% endfor %}
{% endblock %}