{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Forecast</h2>



<div class="container">
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th scope="col">Cost Code</th>
                <th scope="col">Description</th>
                <th scope="col">Cost Allowance</th>
                <th scope="col">Cost Forecast</th>
                <th scope="col">Remaining Allowance</th>
            </tr>
        </thead>
        <tbody>
            {% for f in forecast_detail %}
            <tr>
                <th scope="row">{{ f.cost_code }}</th>
                <td>{{ f.cost_code_description }}</td>
                <td>{{ f.cost_allowance }}</td>
                <td>{{ f.cost_forecast }}</td>
                <td>{{ f.cost_remaining }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}