{% extends "shared/_layout.html" %}
{% block main_content %}

<h2>Cost Detail - {{ project}} </h2>
<h3>{{ cost_code }}</h3>

<div class="container-fluid costdetail">
    {% for c in cost_detail %}
    <div class="first_row row">
        <div class="date col-1">
            {{ c.transaction_date }}
        </div>
        <div class="supplier col-3">
            {{ c.supplier }}
        </div>
        <div class="values col-2">
            {{ '{:,}'.format(c.transaction_amount) }}
        </div>
    </div>
    <div class="second_row row">
        <div class="col-6 offset-1">
            {{ c.transaction_description }}
        </div>
    </div>
    <div class="user row">
        <div class="col-1 offset-3">
            {{ c.user }}
        </div>
    </div>
    {% endfor %}

</div> {% endblock %}