body {
    color: #222;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', Helvetica, Arial, sans-serif;
    font-size: 17px;
}

.main_content {
    background: #fff;
    margin: 0px;
    /* padding: 0px 0px 50px; */
}

footer {
    margin-top: 50px;
    padding: 30px;
    text-align: center;
    color: white;
}

a:link{
    color: #222;
}

a:visited{
    color: #222;
}

a:hover{
    text-decoration: none;
    color: #666;
}

/* projects template formatting */
.projects .row{
    padding-left: 5px;
}

/* forecast template formatting */
.forecast .forecast_summary{
    padding-bottom: 20px;
}

.forecast .cost_code_row{
    font-size: 14px;
}

.forecast .second_row{
    font-size: 10px;
    font-style: italic;
    color: #666;
    padding-bottom: 5px;
}

.forecast .progress{
    margin-left: 15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
    height: 12px;
    font-size: 10px;
    text-align: right;
}

.forecast .row .values {
    text-align: right;
}

/* cost detail template formatting */

.cost_summary {
    padding-bottom: 10px;
}

.cost_summary .first_row{
    padding-bottom: 5px;
}

.cost_summary .second_row{
    font-size: 14px;
    font-style: italic;
    color: #666;
}

.cost_summary .progress{
    margin-left: 15px;
    margin-right: -15px;
    padding-left: 0px;
    padding-right: 0px;
    height: 18px;
    font-size: 14px;
}

.cost_detail .row .values {
    text-align: right;
}

.cost_transaction .description{
    font-size: 16px;
}

.cost_transaction .supplier{
    font-size: 18px;
    font-weight: bold;
}

.cost_transaction .date {
    font-size: 16px;
    color: #666;
}

.cost_transaction .user{
    font-size: 12px;
    font-style: italic;
    color: #666;
    text-align: right;
}

/* Insert Transaction template formatting */

.current_transactions {
    font-size: 16px;
}
